<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @lift.lift_name %> Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lifts" class="btn btn-block btn-outline-secondary">
          Go Back
        </a>
      </div>

      <div class="col">
        <a href="/delete_lift/<%= @lift.id %>" class="btn btn-block btn-outline-secondary">
          Delete lift
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Lift Name
      </dt>
      <dd>
        <%= @lift.lift_name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
          <% cat = @lift.category %>
          <% if cat == "ab_leg" %>
            <% output = "Abs / Legs" %>
          <% elsif cat == "pull" %>
            <% output = "Pull" %>
          <% elsif cat == "push" %>
            <% output = "Push" %>
          <% else %>
            <% output = "Something's Wrong" %>
          <% end %>
          <%= output %>
      </dd>

      <dt>
        Primary Muscle Group
      </dt>
      <dd>
          <% mg_id = @lift.prim_mg %>
          <% mg_record = MuscleGroup.where({ :id => mg_id }).at(0) %>
          <%= mg_record.name %>
      </dd>

      <dt>
        Secondary Muscle Group
      </dt>
      <dd>
          <% if @lift.sec_mg == nil || @lift.sec_mg == 0 %>
            <%= "None" %>
          <% else %>
            <% mg_id = @lift.sec_mg %>
            <% mg_record = MuscleGroup.where({ :id => mg_id }).at(0) %>
            <%= mg_record.name %>
          <% end %>
      </dd>

      <dt>
        Default Sets
      </dt>
      <dd>
        <%= @lift.def_sets %>
      </dd>

      <dt>
        Default Reps
      </dt>
      <dd>
        <%= @lift.def_reps %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @lift.image %>" height="300">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit Lift
    </h2>

    <form action="/modify_lift/<%= @lift.id %>"  method="post" >
      <div class="form-group">
        <label for="lift_name_box">
          Lift Name
        </label>

        <input type="text" id="lift_name_box" name="lift_name_from_query" class="form-control" value="<%= @lift.lift_name %>">
      </div>

      <div class="form-group">
        <label for="category_select">
          Category
        </label>

      <select class="form-control" id="category_select" name="category_from_query" selected="<%= @lift.category %>">
        <option value="push".to_s
          <% if @lift.category == "push" %>
          <%= "selected" %>
          <% else %>
          <% end %>
        >Push</option>
        <option value="pull".to_s
          <% if @lift.category == "pull" %>
          <%= "selected" %>
          <% else %>
          <% end %>
        >Pull</option>
        <option value="ab_leg".to_s
          <% if @lift.category == "ab_leg" %>
          <%= "selected" %>
          <% else %>
          <% end %>
        >Abs / Legs</option>
      </select>
      </div>

      <div class="form-group">
        <label for="prim_mg_box">
          Primary Muscle Group
        </label>

        <select class="form-control" id="prim_mg_box" name="prim_mg_from_query">
          <% MuscleGroup.all.order({ :name => :asc }).each do |the_mg| %>
            <% if the_mg.id == @lift.prim_mg %>
              <option value=<%= the_mg.id %> selected ><%= the_mg.name %></option>
            <% else %>
              <option value=<%= the_mg.id %> ><%= the_mg.name %></option>
            <% end %>
        <% end %>
        </select>
      </div>

      <div class="form-group">
        <label for="sec_mg_box">
          Secondary Muscle Group
        </label>

      <select class="form-control" id="sec_mg_box" name="sec_mg_from_query">
          <option value=nil>None</option>
        <% MuscleGroup.all.order({ :name => :asc }).each do |the_mg| %>
            <% if the_mg.id == @lift.sec_mg %>
              <option value=<%= the_mg.id %> selected ><%= the_mg.name %></option>
            <% else %>
              <option value=<%= the_mg.id %> ><%= the_mg.name %></option>
            <% end %>
        <% end %>
      </select>
      </div>

      <div class="form-group">
        <label for="def_sets_box">
          Default Sets
        </label>

        <input type="text" id="def_sets_box" name="def_sets_from_query" class="form-control" value="<%= @lift.def_sets %>">
      </div>

      <div class="form-group">
        <label for="def_reps_box">
          Default Reps
        </label>

        <input type="text" id="def_reps_box" name="def_reps_from_query" class="form-control" value="<%= @lift.def_reps %>">
      </div>

      <div class="form-group">
        <label for="image_box">
          Image Link
        </label>

        <input type="text" id="image_box" name="image_from_query" class="form-control" value="<%= @lift.image %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update Lift
      </button>
    </form>
  </div>
</div>

<hr>
