<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Executions
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-1">
    <h2>
      Add a New Execution
    </h2>

    <form action="/insert_execution" method="post">
      <div class="form-group">
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="date_from_query" class="form-control" value="<%= Date.today %>" 
      </div>

      <div class="form-group">
        <input type="hidden" value="<%= @current_user.id %>" name="user_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="lift_id_box">
          Lift
        </label>

      <select class="form-control" id="lift_id_from_query" name="lift_id_from_query">
      <% Lift.all.order({ :lift_name => :asc }).each do |the_lift| %>
        <option value=<%= the_lift.id%> ><%= the_lift.lift_name %></option>
      <% end %>
      </select>
      </div>

      <div class="form-group">
        <label for="sets_box">
          Sets
        </label>

        <input type="text" id="sets_box" name="sets_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="reps_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="weight_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="comment_from_query" placeholder="Enter a comment if you'd like..." class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create execution
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12 offset-md-1">
    <table class="table">
      <tr>

        <th>
          Date
        </th>

        <th>
          User
        </th>

        <th>
          Lift
        </th>

        <th>
          Sets
        </th>

        <th>
          Reps
        </th>

        <th>
          Weight
        </th>

        <th>
          Comment
        </th>

        <th>
        </th>
      </tr>

      <% @executions.each do |execution| %>
      <tr>

        <td>
          <%= execution.date %>
        </td>

        <td>
          <% executor_id = execution.user_id %>
          <% executor_rec = User.where({ :id => executor_id }).at(0) %>
          <%= executor_rec.email %>
        </td>

        <td>
          <% lift_id = execution.lift_id %>
          <% lift_rec = Lift.where({ :id => lift_id }).at(0) %>
          <%= lift_rec.lift_name %>
        </td>

        <td>
          <%= execution.sets %>
        </td>

        <td>
          <%= execution.reps %>
        </td>

        <td>
          <%= execution.weight %>
        </td>

        <td>
          <%= execution.comment %>
        </td>

        <td>
          <% if @current_user.id == execution.user_id %>
            <a href="/executions/<%= execution.id %>">
              View / Update
            </a>
          <% else %>
            Other User's Record
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
