<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css"
    <title></title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/profile">XSORE</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/executions_form">Log Execution <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/lifts">Lifts</a>
            <a class="nav-item nav-link" href="/executions"> Executions</a>
            <% if @current_user == nil %>
                <a class="nav-link" href="/user_sign_up">Sign Up</a>
                <a class="nav-link" href="/user_sign_in">Sign In</a>
            <% else %>
                <a class="nav-link" href="/user_sign_out">Sign Out</a>
            <% end %>
          </div>
      </nav>
    </head>
    
<div> <p style="color: blue;"> <%= notice %> </p> </div>
<div> <p style="color: red;"> <%= alert %> </p> </div>

  <body>
    <%= yield %>
  </body>
</html>
